<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Pre-Requisitos</h3>
            <p>Configurar el telefono para fuentes desconocidas</p>
            <p>Ver el video a continuacion</p>
            <a href="~/recursos/fuentesdesconocidasAndroid.mp4" title="fuentesdesconocidasandroid" target="_self">
                Configurar el SmartPhone <br>para instalar la App
            </a>

        </div>
        <div class="col-sm-4">
            <h3>Como iniciar</h3>
            <h4>Paso #1</h4>
            <p>Solicitar un usuario y password al area de informatica</p>
            <h4>Paso #2</h4>
            <p>Descargar el archivo apk mas reciente e instalar</p>
            <h4>Paso #3</h4>
            <p>Doble click al aplicativo de cobro</p>
            <h4>Paso #4</h4>
            <p>Ingresar el sincronizara la data</p>
            <h4>Paso #5</h4>
            <p>Volver a ingresar en modo OffLine</p>

        </div>
        <div class="col-sm-4">
            <h3>Descarga</h3>
            <p>Archivos apk</p>
            <p>
                <a href="~/recursos/app-release.apk">Realease version: 1.0.0</a>
            </p>
        </div>

    </div>
</div>